# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
android/app/build/
ios/Pods/
linux/build/
macos/Build/
windows/build/

# VS Code & IntelliJ
.idea/
.vscode/
*.iml

# Others
*.log
